# Created by https://www.toptal.com/developers/gitignore/api/reactnative

### ReactNative ###
# React Native Stack Base
.expo

### ReactNative.Android Stack ###

# Log Files
*.log

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Android Studio 3 in .gitignore file.
.idea/caches
.idea/modules.xml
# Comment next line if keeping position of elements in Navigation Editor is relevant for you
.idea/navEditor.xml

### ReactNative.Linux Stack ###
*~

### ReactNative.Node Stack ###
# Logs
logs
yarn-error.log*

# Dependency directories
node_modules

# dotenv environment variables file
.env

### ReactNative.macOS Stack ###
# General
.DS_Store

# Thumbnails
._*